@import "./mixin.module.scss";
@import "./partials.scss";
.banner {
  width: 100%;
  background-color: $gray;

  .banner_wrapper {
    max-width: 1440px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    @include verticallycenter;
    flex-direction: column;
    .banner_top {
      width: 100%;
      height: 75px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .banner_bottom {
      width: 100%;
      @include verticallycenter;
      .banner_bottom_left {
        flex: 2.8;
        height: 200px;
        width: 70%;
        .mySwiper {
          width: 100%;
          .slide{
            position: relative;
            width: 100%;
            img{
              width: 100%;
              height: 200px;
            }
          }
        }
      }
      .banner_bottom_right {
        flex: 1.2;
        height: 200px;
        background-color: pink;
        .banner_bottom_Image {
          @include verticallycenter;
          img {
            width: 50%;
            height: 200px;
          }
        }
      }
      @media screen and (max-width:600px) {
        flex-direction: column;
        .banner_bottom_left ,
        .banner_bottom_right{
          width: 100%;
        }
        
      }
    }
  }
}
