@import "./mixin.module.scss";
@import "./partials.scss";

.MegaBox {
  width: 100%;
  background-color: $gray;

  .MegaBox_wrapper {
    @include maxWidth;
    max-width: 1440px;
    background-color: $gray;
    .boxs {
      @include verticallycenter;
      justify-content: space-between;
      gap: 10px;
      padding: 10px;
      white-space: nowrap;
      .box {
        background-color: $white;
        flex: 1;
        min-height: 400px;
        max-height: 100%;
        padding: 10px;
        border: 0.1px solid rgba(0, 0, 0, 0.05);
        overflow: hidden;

        .box_heading {
          margin-bottom: 10px;
          h1 {
            font-size: 1.1rem;
            @include verticallycenter;
            font-weight: 600;
            span {
              color: red;
              @include verticallycenter;
              margin-left: 10px;
              font-size: 0.9rem;
            }
          }
          @media screen and (max-width:900px){
            h1 {
              font-size: 0.8rem;
              span{
                font-size: 0.6rem;
              }
            }
           
          }
        }

        .minboxs {
          @include verticallycenter;
          justify-content: center;
          gap: 16px;
          flex-wrap: wrap;

          .minibox,
          .bigbox {
            position: relative;
            flex: 45%;
            height: 200px;
            @include allCenter;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          .bigbox {
            flex: 100% !important;
          }
          @media screen and (max-width: 900px) {
            .minibox,
            .bigbox {
              height: 150px;
            }
          }
        }
      }
      @media screen and (max-width: 900px) {
        .box{
          width: 45%;
          flex: initial;
        }
      }
      @media screen and (max-width: 650px) {
        flex-direction: column;
        .box{
          width: 100%;
        }
      }
    }
  }
}
