@import "./mixin.module.scss";
@import "./partials.scss";

.slider {
  width: 100%;
  background-color: $gray;

  .slider_wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    .mySwiper {
        padding: 20px 12px 40px 10px;
        cursor: grab;
        .slide{
            position: relative;
            width:100px !important;
            height: 140px;
            cursor: grab;
            user-select: none;
            transition: 0.3s;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

            }
            &:hover{
              transform: scale(1.1);
            }
        }
    }

  }
}
